* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: rgb(187, 187, 187);
  --tertiary-color: #fff;
  --background-color: #f4f7f6;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a,
span,
p {
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
