.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_title {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.nav {
  display: flex;
}

.nav_menu {
  display: flex;
  gap: 2rem;
}

.nav_menu .nav_menu_item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

.nav_menu .nav_menu_item::after {
  content: "";
  background-color: var(--primary-color);
  display: block;
  width: 0;
  height: 0.1rem;
}

.nav_menu .nav_menu_item:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.1rem;
}

@media (max-width: 700px) {
  .header {
    padding: 1rem;
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 450px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .nav_menu {
    flex-direction: column;
  }
}
